{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
        }
        table{
            width: 500px;
            margin-left: 50px;
        }
        td{
            border-bottom: 1px solid grey;
            padding:5px;
        }
        #new{
            margin-left: 50px;
            margin-bottom: 50px;
        }
        .bg-dark{
            color:white;
        }

    </style>
{% endblock %}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div id="new">
            <h1>Users Administration</h1>
            <a class="btn btn-success" href="{{ path('app_new_user')}}">Nuevo Usuario</a>
        </div>

        <table>
            <tr class="bg-dark">
                <td>Email<td>
                <td>Username<td>
                <td></td>
                <td></td>
            </tr>
            {% for user in users %}
                <tr>
                    <td> {{ user.email }}<td>
                    <td> {{ user.username }}<td>
                    <td><a class="btn btn-secondary" href="{{ path('app_user_edit',{'id':user.id} )}}">Edit</a></td>
                    <td><a class="btn btn-danger" href="{{ path('app_user_delete',{'id':user.id} )}}" onclick="return confirm('¿Esta seguro que desea eliminar este usuario?')">X</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
