{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .container{
            border: 10px double black;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            margin-top: 30px;
        }
        .container h1{margin-bottom: 20px;}
        .titulo{
            display: flex;
            justify-content: space-between;
        }
        .titulo a{
            height: 35px;
        }
        .nuevo{
            border:0px;
        }
        .divisor{
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }

    </style>
{% endblock %}
{% block title %}Hello PostController!{% endblock %}
{% block body %}
    <div class="container nuevo">
        <h1>{{ title }}   Posts</h1>
        <a class="btn btn-success" href="{{ path('new_post') }}" >Nuevo Post</a>
    </div>

    {% for post in posts %}
        <div class="container">
            <div class="titulo">
                <h1><a href="{{ path('app_post_show',{'id':post.id} )}}">{{ post.title }}</a></h1>
                {% if app.user == post.user or is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-danger" href="{{ path('app_post_delete',{'id':post.id} )}}" onclick="return confirm('¿Esta seguro que desea eliminar este post?')">X</a>
                {% endif %}
            </div>
            <hr class="divisor">
            <div><h3>{{ post.content | raw }}</h3></div>
            <div><b>{{ post.author }}</b> creado el <b>{{ post.createdAt|date('Y-m-d') }}</b></div>
            {% if app.user == post.user or is_granted("ROLE_ADMIN") %}
                <hr class="divisor">
                <div><a class="btn btn-secondary" href="{{ path('app_post_edit',{'id':post.id} )}}">Edit</a></div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
