{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .post{
            border: 10px double black;
            margin-bottom: 30px;
            padding: 10px;
            border-radius: 10px;
            margin-top: 30px;
        }

        .container div{margin-top:10px;}
        .comments{}
        .titulo{
            display: flex;
            justify-content: space-between;
        }
        .titulo a{
            height: 35px;
        }
        .divisor{
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }

    </style>
{% endblock %}
{% block title %}Hello PostController!{% endblock %}
{% block body %}
        <div class="container post">
            <div class="titulo">
                <h1>{{ posts.title }}</h1>
                {% if app.user == posts.user or is_granted("ROLE_ADMIN") %}
                <div>
                    <a class="btn btn-secondary" href="{{ path('app_post_edit',{'id':posts.id} )}}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('app_post_delete',{'id':posts.id} )}}" onclick="return confirm('¿Esta seguro que desea eliminar este Post?')">X</a>
                </div>
                {% endif %}
            </div>
            <div><h3>{{ posts.content | raw }}</h3></div>
            <div><b>{{ posts.author }}</b> creado el <b>{{ posts.createdAt|date('Y-m-d') }}</b></div>
        </div>
    <div class="container">
        {% for comment in comments %}
            <div class="comments">
                <p><b>{{ comment.user.username }}</b></p>
                <p><b>{{ comment.comment }}</b></p>
                {% if app.user == comment.user or is_granted("ROLE_ADMIN") %}
                <div>
                    <a class="btn btn-danger fas fa-trash" href="{{ path('app_post_delete_comment',{'id':comment.id,'postid':posts.id})}}" onclick="return confirm('¿Esta seguro que desea eliminar este comentario?')"></a>
                </div>
                {% endif %}
                <hr class="divisor">
            </div>
        {% endfor %}
        {{form_start(form)}}
        {{ form_row(form.comment) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
